<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Capstone Project</title>
  </head>
  <body>
   <h1>About</h1>
   <p>
     This is the Capstone Project for the tutorial.
  </p>
 </body>
</html>