<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Capstone Project</title>
  </head>
  <body>
    <h1>Capstone Project</h1>
    <p>
       This is the home page for the capstone project.
    </p>
  </body>
</html>
